.c-flat-button {
    background: transparent;
    color: var(--nova-color-primary);

    &[disabled] {
      background-color: var(--nova-color-saturated-accent);
      color: var(--nova-color-saturated-text);
    }
}