<!-- <nova-card>
    <nova-card-title>
        Karl Merkli
    </nova-card-title>

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi recusandae veritatis cupiditate ducimus quia perspiciatis sapiente tenetur cum non voluptates, vel, placeat magnam iste hic, libero culpa minus officiis provident.
</nova-card>

<nova-card>
    <nova-card-progress [percent]="75"></nova-card-progress>

    <nova-card-title>
        Karl Merkli
    </nova-card-title>

    <div class="o-grid o-grid--spread">
        <div class="o-grid__item u-1/7">
            <nova-stat-bar
                [value]="500"
                [name]="'name'"
                [percent]="50"
                [description]="'/min'"
            ></nova-stat-bar>
        </div>

        <div class="o-grid__item u-1/7">
            <nova-stat-bar
                [value]="500"
                [name]="'name'"
                [percent]="50"
                [description]="'/min'"
            ></nova-stat-bar>
        </div>

        <div class="o-grid__item u-1/7">
            <nova-stat-bar
                [value]="500"
                [name]="'name'"
                [percent]="50"
                [description]="'/min'"
            ></nova-stat-bar>
        </div>

        <div class="o-grid__item u-1/7">
            <nova-stat-bar
                [value]="500"
                [name]="'name'"
                [percent]="50"
                [description]="'/min'"
            ></nova-stat-bar>
        </div>

        <div class="o-grid__item u-1/7">
            <nova-stat-bar
                [value]="500"
                [name]="'name'"
                [percent]="50"
                [description]="'/min'"
            ></nova-stat-bar>
        </div>
    </div>
</nova-card>

<nova-card>
    <nova-card-section>
        <div class="o-flag">
            <div class="o-flag__figure">
                <nova-square-image
                    [style.width.px]="50"
                    src="https://cdn-images-1.medium.com/fit/c/200/200/0*I2vo85Flgd4kJCOx.jpeg"
                    alt="Picture of Tripp (Gigantic)"
                    title="Assassin"
                ></nova-square-image>
            </div>

            <div class="o-flag__body">
                <div><strong>Karl</strong></div>
                <div>Merkli</div>
            </div>

            <div class="o-flag__body">
                <nova-primary-stat [description]="'level'">15</nova-primary-stat>
            </div>
        </div>
    </nova-card-section>
</nova-card>

<nova-primary-stat [description]="'level'">
    15
</nova-primary-stat>

<nova-stat-bar
    [value]="500"
    [name]="'name'"
    [percent]="50"
    [description]="'description'"
></nova-stat-bar> -->

<router-outlet></router-outlet>