.o-ratio {
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        display: block;
        width: 100%;
        padding-bottom: 100%;
    }
}

@mixin ratio($antecedent, $consequent) {
    .o-ratio--#{$antecedent}\:#{$consequent}::before {
        padding-bottom: ($consequent / $antecedent) * 100%;
    }
}

@include ratio(1, 1);
@include ratio(2, 1);
@include ratio(4, 3);
@include ratio(16, 9);