.c-checkbox {
    position: relative;
}

.c-checkbox__input {
    display: none;
    visibility: hidden;
}

.c-checkbox__click {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.c-checkbox__checkbox {
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #000;
    border-radius: 2px;
    margin-right: 0.5em;
}

.c-checkbox__checkbox--checked {
    border-color: var(--nova-color-primary);
}