@import "styles/styles";

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    padding: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

body {
    background: #efefef;
}