---
id: colors
label: Colors
title: Colors
tags: [guidelines]
position: 2
permalink: colors
---

{% extends "_layouts/default.njk" %}

{% block content %}

<header>
    <h1 class="c-fractal-h1 c-fractal-page__title">
        {{ page.title }}
    </h1>

    <p class="c-fractal-page__lead c-fractal-paragraph">
        A flexible, yet distinctly American palette designed to communicate warmth and trustworthiness while meeting the highest standards of 508 color contrast requirements.
    </p>
</header>

<section>
    <h2 class="c-fractal-h2">
        Palettes
    </h2>

    <p class="c-fractal-paragraph">
        This palette is designed to support a range of distinct visual styles that continue to feel connected. The intent of the palette is to convey a warm and open American spirit, with bright saturated tints of blue and red, grounded in sophisticated deeper shades of cool blues and grays. These colors — combined with clear hierarchy, good information design, and ample white space — should leave users feeling welcomed and in good hands.
    </p>

    <p class="c-fractal-paragraph">
        This is a simple, minimalist color palette. Shades of blue dominate, providing a neutral backdrop on which brighter shades, clean type treatment, and bright white content areas “pop” on the page.
    </p>

    <h3 class="c-fractal-h3 c-fractal-page__title--alt">
        Primary
    </h3>

    <p class="c-fractal-paragraph">
        This palette’s primary colors are blue, gray, and white. Blue is commonly associated with trust, confidence, and sincerity; it is also used to represent calmness and responsibility.
    </p>

    <div class="c-fractal-color-list">
        <div class="c-fractal-color-block">
            <div
                class="c-fractal-color-block__color"
                style="background-color: #000;"
            ></div>

            <div class="c-fractal-color-block__hex">
                #000
            </div>

            <div class="c-fractal-color-block__variable">
                $play-color-primary
            </div>
        </div>

        <div class="c-fractal-color-block">
            <div
                class="c-fractal-color-block__color"
                style="background-color: #000;"
            ></div>

            <div class="c-fractal-color-block__hex">
                #000
            </div>

            <div class="c-fractal-color-block__variable">
                $play-color-primary
            </div>
        </div>

        <div class="c-fractal-color-block">
            <div
                class="c-fractal-color-block__color"
                style="background-color: #000;"
            ></div>

            <div class="c-fractal-color-block__hex">
                #000
            </div>

            <div class="c-fractal-color-block__variable">
                $play-color-primary
            </div>
        </div>

        <div class="c-fractal-color-block">
            <div
                class="c-fractal-color-block__color"
                style="background-color: #000;"
            ></div>

            <div class="c-fractal-color-block__hex">
                #000
            </div>

            <div class="c-fractal-color-block__variable">
                $play-color-primary
            </div>
        </div>

        <div class="c-fractal-color-block">
            <div
                class="c-fractal-color-block__color"
                style="background-color: #000;"
            ></div>

            <div class="c-fractal-color-block__hex">
                #000
            </div>

            <div class="c-fractal-color-block__variable">
                $play-color-primary
            </div>
        </div>

        <div class="c-fractal-color-block">
            <div
                class="c-fractal-color-block__color"
                style="background-color: #000;"
            ></div>

            <div class="c-fractal-color-block__hex">
                #000
            </div>

            <div class="c-fractal-color-block__variable">
                $play-color-primary
            </div>
        </div>

        <div class="c-fractal-color-block">
            <div
                class="c-fractal-color-block__color"
                style="background-color: #000;"
            ></div>

            <div class="c-fractal-color-block__hex">
                #000
            </div>

            <div class="c-fractal-color-block__variable">
                $play-color-primary
            </div>
        </div>
    </div>
</section>


{% endblock %}
