---
id: illustration
label: Illustration
title: Illustration
tags: [guidelines]
position: 5
permalink: illustration
---

{% extends "_layouts/default.njk" %}

{% block content %}

<header>
    <h1 class="c-fractal-h1 c-fractal-page__title">
        {{ page.title }}
    </h1>

    <p class="c-fractal-page__lead c-fractal-paragraph">
        This is a one example of the sort of documentation sites you can build using Fractal pages.
    </p>
</header>

{% endblock %}
