---
id: typography
label: Typography
title: Typography
tags: [guidelines]
position: 1
permalink: typography
---

{% extends "_layouts/default.njk" %}

{% block content %}

<header>
    <h1 class="c-fractal-h1 c-fractal-page__title">
        {{ page.title }}
    </h1>

    <p class="c-fractal-page__lead c-fractal-paragraph">
        This is a one example of the sort of documentation sites you can build using Fractal pages.
    </p>
</header>

<article>
    <div class="c-fractal-table">
        <table class="c-fractal-table__table">
            <thead>
                <tr>
                    <th>
                        rem
                    </th>

                    <th>
                        Example
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        0.75rem
                    </td>

                    <td style="font-size: 0.75rem;">
                        The quick brown fox jumps over the lazy dog
                    </td>
                </tr>

                <tr>
                    <td>
                        0.875rem
                    </td>

                    <td style="font-size: 0.875rem;">
                        The quick brown fox jumps over the lazy dog
                    </td>
                </tr>

                <tr>
                    <td>
                        1rem
                    </td>

                    <td style="font-size: 1rem;">
                        The quick brown fox jumps over the lazy dog
                    </td>
                </tr>

                <tr>
                    <td>
                        1.125rem
                    </td>

                    <td style="font-size: 1.125rem;">
                        The quick brown fox jumps over the lazy dog
                    </td>
                </tr>

                <tr>
                    <td>
                        1.25rem
                    </td>

                    <td style="font-size: 1.25rem;">
                        The quick brown fox jumps over the lazy dog
                    </td>
                </tr>

                <tr>
                    <td>
                        1.5rem
                    </td>

                    <td style="font-size: 1.5rem;">
                        The quick brown fox jumps over the lazy dog
                    </td>
                </tr>

                <tr>
                    <td>
                        1.75rem
                    </td>

                    <td style="font-size: 1.75rem;">
                        The quick brown fox jumps over the lazy dog
                    </td>
                </tr>

                <tr>
                    <td>
                        1.75rem
                    </td>

                    <td style="font-size: 1.75rem;">
                        The quick brown fox jumps over the lazy dog
                    </td>
                </tr>

                <tr>
                    <td>
                        2rem
                    </td>

                    <td style="font-size: 2rem;">
                        The quick brown fox jumps over the lazy dog
                    </td>
                </tr>

                <tr>
                    <td>
                        2.25rem
                    </td>

                    <td style="font-size: 2.25rem;">
                        The quick brown fox jumps over the lazy dog
                    </td>
                </tr>

                <tr>
                    <td>
                        2.625rem
                    </td>

                    <td style="font-size: 2.625rem;">
                        The quick brown fox jumps over the lazy dog
                    </td>
                </tr>

                <tr>
                    <td>
                        3rem
                    </td>

                    <td style="font-size: 3rem;">
                        The quick brown fox jumps over the lazy dog
                    </td>
                </tr>

                <tr>
                    <td>
                        3.375rem
                    </td>

                    <td style="font-size: 3.375rem;">
                        The quick brown fox jumps over the lazy dog
                    </td>
                </tr>

                <tr>
                    <td>
                        3.75rem
                    </td>

                    <td style="font-size: 3.75rem;">
                        The quick brown fox jumps over the lazy dog
                    </td>
                </tr>

                <tr>
                    <td>
                        4.25rem
                    </td>

                    <td style="font-size: 4.25rem;">
                        The quick brown fox jumps over the lazy dog
                    </td>
                </tr>

                <tr>
                    <td>
                        4.75rem
                    </td>

                    <td style="font-size: 4.75rem;">
                        The quick brown fox jumps over the lazy dog
                    </td>
                </tr>

                <tr>
                    <td>
                        5.25rem
                    </td>

                    <td style="font-size: 5.25rem;">
                        The quick brown fox jumps over the lazy dog
                    </td>
                </tr>

                <tr>
                    <td>
                        5.75rem
                    </td>

                    <td style="font-size: 5.75rem;">
                        The quick brown fox jumps over the lazy dog
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</article>

{% endblock %}
