.c-labeled-value {
    text-align: right;
}

.c-labeled-value__value {
    font-weight: inherit;
}

.c-labeled-value__label {
    color: var(--nova-color-saturated-text);
    font-weight: 500;
    font-size: 0.875em;
}