.o-grid {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
}

.o-grid--center {
    justify-content: center;
}

.o-grid--spread {
    justify-content: space-between;
}

.o-grid--align-center {
    align-items: center;
}

.o-grid--inside {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.o-grid__item {
    width: 100%;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
}