.c-card {
    color: var(--nova-color-card);
    background-color: var(--nova-background-color-card);
    border-radius: 2px;
    padding: 1rem;
    font-size: 0.875rem;
}

.c-card__header {
    margin-top: -1rem;
    display: block;
}

.c-card__footer {
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: -1rem;

    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;

    border-top: 1px solid #efefef;
}

.c-card__progress {
    margin-top: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-bottom: 1rem;

    border-radius: 2px 2px 0 0;
    overflow: hidden;
}

.c-card__section {
    margin-left: -1rem;
    margin-right: -1rem;

    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.c-card__section--bordered {
    border-bottom: 1px solid #efefef;
}

.c-card__title {
    font-size: 0.875em;
    text-transform: uppercase;
    font-weight: 600;
}