<nova-card>
    <nova-card-header>
        <div class="o-flag">
            <div class="o-flag__figure">
                <img style="width: 50px" src="https://cdn-images-1.medium.com/fit/c/200/200/0*I2vo85Flgd4kJCOx.jpeg">
            </div>

            <div class="o-flag__body">
                <div><strong>Karl Merkli</strong></div>
                <div>Frontend Developer</div>
            </div>
        </div>
    </nova-card-header>

    <nova-card-section>
        {{ cardBody }}
    </nova-card-section>
</nova-card>